/* layout */
.app-wrap {
  width: 100vw;
}
.app {
  max-width: 1200px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  flex-grow: 0;
}

.media-list {
  display: flex;
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: space-around;
}
.detail-right .media-card {
  width: 100%;
}
